/*Reset*/
body,
div {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}
span {
  margin: 0;
}
li {
  list-style-type: none;
}

a {
  font-size: unset;
  text-decoration: unset;
  color: unset;
}

/*Typography*/
:root {
  --font-family-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
  --main-bg-color: 0, 0, 0;
  --font-color: 255, 255, 255;
  --menu-hover-color: 255, 255, 255, 0.1;
  --menu-border-color: 38, 38, 38;

  /*size*/
  --menu-width: 24.5rem;
  --profile-img-width: 5.6rem;
  --profile-img-height: 5.6rem;
}

/*Contents*/
html {
  font-size: 62.5%;
}

body {
  display: flex;
  background-color: rgb(var(--main-bg-color));
  color: rgb(var(--font-color));
}

.container {
  display: flex;
  width: 100vw;
}

/*menu section start*/
.container .menu-wrapper {
  height: 100vh;
  max-width: var(--menu-width);
  width: 100%;
  padding: 4rem 1.5rem 0;
  box-sizing: border-box;
  border: 0.1rem solid rgb(var(--menu-border-color));
  display: flex;
  flex-direction: column;
  position: fixed;
}

.menu-logo__wrapper {
  width: 20rem;
  height: 7rem;
}

.menu-wrapper .menu-logo {
  height: inherit;
  width: inherit;
  background-color: rgb(var(--font-color));
  -webkit-mask: url("../icons/logo.svg") no-repeat;
  mask: url("../icons/logo.svg") no-repeat;
  margin-left: 1rem;
  cursor: pointer;
}

.menu-icon {
  width: 2.5rem;
  height: 2.7rem;
  background-color: rgb(var(--font-color));
}

.menu-icon.home {
  -webkit-mask: url("../icons/home.svg") no-repeat center;
  mask: url("../icons/home.svg") no-repeat center;
}

.menu-icon.search {
  -webkit-mask: url("../icons/search.svg") no-repeat center;
  mask: url("../icons/search.svg") no-repeat center;
}

.menu-icon.explore {
  -webkit-mask: url("../icons/explore.svg") no-repeat center;
  mask: url("../icons/explore.svg") no-repeat center;
}

.menu-icon.reels {
  -webkit-mask: url("../icons/reels.svg") no-repeat center;
  mask: url("../icons/reels.svg") no-repeat center;
}

.menu-icon.messages {
  -webkit-mask: url("../icons/message.svg") no-repeat center;
  mask: url("../icons/message.svg") no-repeat center;
}

.menu-icon.notifications {
  -webkit-mask: url("../icons/heart.svg") no-repeat center;
  mask: url("../icons/heart.svg") no-repeat center;
}

.menu-icon.create {
  -webkit-mask: url("../icons/add.svg") no-repeat center;
  mask: url("../icons/add.svg") no-repeat center;
}

.menu-icon.threads {
  -webkit-mask: url("../icons/at.svg") no-repeat center;
  mask: url("../icons/at.svg") no-repeat center;
}

.menu-icon.more {
  -webkit-mask: url("../icons/menu.svg") no-repeat center;
  mask: url("../icons/menu.svg") no-repeat center;
}
.menu-contents__wrapper {
  flex-grow: 1;
}

.menu-contents__wrapper .menu-list > li:last-child > .menu-icon {
  border-radius: 10rem;
  overflow: hidden;
  background-color: unset;
}
.menu-list > li {
  width: 100%;
  height: 5.5rem;
  display: flex;
  padding-left: 1.2rem;
  box-sizing: border-box;
  cursor: pointer;
}
.menu-list > li:hover {
  background-color: rgba(var(--menu-hover-color));
  border-radius: 0.5rem;
}

.menu-list > li > div {
  margin: auto 0;
}
.menu-list > li:hover > div:first-child {
  scale: 110%;
}
.menu-list > li > div:last-child {
  height: 100%;
  margin-left: 1.6rem;
  display: flex;
  align-items: center;
}
.menu-list > li > div:last-child > div {
  height: 1.3rem;
}
.menu-list > li > div:last-child > div > span {
  display: block;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2rem;
}
.menu-icon .profile {
  background-image: url("../images/profile.jpeg");
  background-size: cover;
  width: inherit;
  height: inherit;
}

.menu-footer {
}
.menu-footer ul li {
  width: inherit;
}

/*menu section end*/
/*main section start*/
.container .main-wrapper {
  margin-left: var(--menu-width);
  width: 100%;
  padding-top: 2.2rem;
}
.main-wrapper .main-contents__wrapper {
  display: flex;
  justify-content: center;
}
.main-wrapper .main-contents {
  max-width: 63rem;
  width: 100%;
  box-shadow: inset 0 0 20px red;
  display: flex;
  height: 1000vh;
  margin-top: 1.6rem;
}

.main-wrapper .main-contents .main-contents__profile-cards {
  display: flex;
  overflow: scroll;
}
.main-contents__profile-cards .main-contents__profile-card {
  height: 6.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-right: 1.2rem;
  box-sizing: border-box;
}
.main-contents__profile-card .main-contents__profile-card__img {
  background-image: url("../images/minseock.jpg");
  background-size: cover;
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
  border: 0.1rem solid;
}
.main-contents__profile-card .main-contents__profile-card__img::after {
  content: "";
  width: var(--profile-img-width);
  height: var(--profile-img-height);
}
.main-contents__profile-card .main-contents__profile-card__name {
  font-size: 1.2rem;
  max-width: 6rem;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
}

.main-contents__wrapper .main__side-contents {
  box-shadow: inset 0 0 20px white;
  padding-left: 6.4rem;
  width: 32rem;
}

/*main section end*/
